.sidebar {
  width: 220px;
  background-color: #2a2a2a;
  color: #fff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: 98%;
}

.sidebar nav a {
  display: block;
  color: #fff;
  padding: 0.5rem 0;
  text-decoration: none;
}

.sidebar nav a.active {
  font-weight: bold;
  color: #00bfff;
}
